/.pytest_cache
/.vscode
/discord_alastar_bot
/donnatest.py
/grade_calculator.py
/guess_game1.py
/helloworld.py
/iterate_strings.py
/main2.py
/main3.py
/newtemplate.py
/numbers.py
/pathwayconnect
/prototype.py
/shani.py
/shapes.py
/teach12.py
/testing.py
/testing2.py
/testing3.py
/testing4.py
/testing6.py
/testingarea.py
/testtemplate.py
/wdd13
/wordlepractice.py